.componentWrapper {
  border-bottom: 1px solid #f1f1f1; /* 下边框样式 */
}

.submitBtnContainer {
  text-align: center; /* 文本居中 */
  margin: 16px; /* 外边距 */

  button {
    color: #fff; /* 文字颜色 */
    background-color: #1677ff; /* 背景颜色 */
    border: 1px solid transparent; /* 边框样式 */
    padding: 4px 15px; /* 内边距 */
    border-radius: 3px; /* 边框圆角 */
  }
}
