/* 
.textAreaWrapper 类定义了文本域的包裹样式，包括下边距和内边距。
*/
.textAreaWrapper {
  margin-bottom: 16px; /* 设置下边距为 16px */
  padding: 0 5px; /* 设置左右内边距为 0，上下内边距为 5px */

  /* 
  textarea 类定义了文本域的样式，包括宽度、边框、边框圆角和内边距。
  */
  textarea {
    width: 100%; /* 设置宽度为 100% */
    border: 1px solid #d8d8d8; /* 设置边框为 1px 宽的实线，颜色为 #d8d8d8 */
    border-radius: 3px; /* 设置边框圆角为 3px */
    padding: 6px 12px; /* 设置内边距为 6px 顶部/底部，12px 左/右 */
  }
}
